body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: 0;
    background: darkblue;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  }
  
  
  h1 {
    font-weight: 400;
    line-height: 1.2;  
  }
  
  p {
    font-size: 1.125rem;
  }
  
  h1,p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  form {
    background: darkblue;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }
  
  fieldset{
    width:auto;
    display: block;
    font-size: 1.125rem;
    margin: 0 auto;
    border: none;
  }

  label{
    width: 100%;
    height: inherit;
    padding: auto;
    margin: 0 auto;

  }
  input,select{
    width:auto;
    height: auto;
    margin: 0 0 200 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button {
    border: none;
  }
  
  
  .inline {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }
  
  .submit{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: rgb(23, 221, 23);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }
